{% set route = app.request.get('_route') %}
<aside class="app-sidebar sticky sticky-pin fs-6" id="sidebar">


    <div class="main-sidebar-header">
        <a href="{{ path('app_home') }}" class="header-logo">
            <img src="{{ asset('theme/assets/images/brand-logos/desktop-logo-light.png') }}" alt="logo"
                 class="desktop-logo">
            <img src="{{ asset('theme/assets/images/brand-logos/toggle-logo-light.png') }}" alt="logo"
                 class="toggle-logo">
            <img src="{{ asset('theme/assets/images/brand-logos/desktop-logo-light.png') }}" alt="logo"
                 class="desktop-dark">
            <img src="{{ asset('theme/assets/images/brand-logos/toggle-logo-light.png') }}" alt="logo"
                 class="toggle-dark">
        </a>
    </div>
    <div class="main-sidebar" id="sidebar-scroll" data-simplebar="init">
        <div class="simplebar-wrapper" style="margin: -8px 0px -80px;">
            <div class="simplebar-height-auto-observer-wrapper">
                <div class="simplebar-height-auto-observer"></div>
            </div>
            <div class="simplebar-mask">
                <div class="simplebar-offset" style="right: 0px; bottom: 0px;">
                    <div class="simplebar-content-wrapper" tabindex="0" role="region" aria-label="scrollable content"
                         style="height: 100%; overflow: hidden scroll;">
                        <div class="simplebar-content" style="padding: 8px 0px 80px;">
                            <nav class="main-menu-container nav nav-pills flex-column sub-open open active">
                                <div class="slide-left active d-none" id="slide-left">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24"
                                         viewBox="0 0 24 24">
                                        <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"></path>
                                    </svg>
                                </div>
                                <ul class="main-menu" style="display: block; margin-left: 0px; margin-right: 0px;">
                                    <li class="slide__category"><span class="category-name">General</span></li>
                                    {% if is_granted('ROLE_ADMIN') or  is_granted('ROLE_STUDENT')%}
                                        <li class="slide {{ route starts with 'app_home' ? 'active open' : '' }} pb-1">
                                            <a href="{{ path('app_home') }}" class="side-menu__item {{ route starts with 'app_home' ? 'active' : '' }}">
                                                <i class="bx bx-home side-menu__icon"></i>
                                                <span class="side-menu__label">Accueil</span>
                                            </a>
                                        </li>
                                    {% endif %}

                                    {% if is_granted('ROLE_ADMIN') or  is_granted('ROLE_STUDENT')%}
                                    <li class="slide has-sub {{ route starts with 'app_tool' ? 'active open' : '' }} pb-1">
                                        <a href="javascript:void(0);"
                                           class="side-menu__item {{ route starts with 'app_tool' ? 'active' : '' }}">
                                            <i class="bx bx-wrench side-menu__icon"></i>
                                            <span class="side-menu__label">Outils</span>
                                            <i class="fe fe-chevron-right side-menu__angle"></i>
                                        </a>
                                        <ul class="slide-menu child1 mega-menu active"
                                            style="position: relative; left: 0px; top: 0px; margin: 0px; box-sizing: border-box; transform: translate(12px, 935px); display: none;"
                                            data-popper-placement="bottom" data-popper-escaped="">
                                            <li class="slide side-menu__label1">
                                                <a href="">Liste des outils</a>
                                            </li>
                                            <li class="slide">
                                                <a href="{{ path('app_tool_index') }}"
                                                   class="side-menu__item {{ route == 'app_tool_index' ? 'active' : '' }}">Liste
                                                    des
                                                    outils</a>
                                            </li>
                                            <li class="slide">
                                                <a href="{{ path('app_tool_add') }}"
                                                   class="side-menu__item {{ route == 'app_tool_add' ? 'active' : '' }}">Proposer
                                                    un outil</a>
                                            </li>
                                        </ul>
                                    </li>
                                    {% endif %}

                                    <li class="slide has-sub {{ route starts with 'app_offer' ? 'active open' : '' }} pb-1">
                                        <a href="javascript:void(0);"
                                           class="side-menu__item {{ route starts with 'app_offer' ? 'active' : '' }}">
                                            <i class="bx bx-briefcase side-menu__icon"></i>
                                            <span class="side-menu__label">Emplois</span>
                                            <i class="fe fe-chevron-right side-menu__angle"></i>
                                        </a>
                                        <ul class="slide-menu child1 mega-menu active"
                                            style="position: relative; left: 0px; top: 0px; margin: 0px; box-sizing: border-box; transform: translate(12px, 935px); display: none;"
                                            data-popper-placement="bottom" data-popper-escaped="">
                                            {% if is_granted('ROLE_ADMIN') or  is_granted('ROLE_STUDENT')%}
                                            <li class="slide">
                                                <a href="{{ path('app_offer_index') }}"
                                                   class="side-menu__item {{ route == 'app_offer_index' ? 'active' : '' }}">Liste
                                                    des
                                                    offres</a>
                                            </li>
                                            {% endif %}
                                            <li class="slide">
                                                <a href="{{ path('app_offer_add_offer') }}"
                                                   class="side-menu__item {{ route == 'app_offer_add_offer' ? 'active' : '' }}">Proposer
                                                    une offre</a>
                                            </li>
                                            <li class="slide">
                                                <a href="{{ path('app_offer_management') }}"
                                                   class="side-menu__item {{ route == 'app_offer_management' ? 'active' : '' }}">Gestion
                                                    de mes offres</a>
                                            </li>
                                        </ul>
                                    </li>
                                    {% if is_granted('ROLE_ADMIN') or  is_granted('ROLE_STUDENT')%}
                                    <li class="slide has-sub {{ route starts with 'app_forum' ? 'active open' : '' }} pb-1">
                                        <a href="javascript:void(0);"
                                           class="side-menu__item {{ route starts with 'app_forum' ? 'active' : '' }}">
                                            <i class="bx bx-chat side-menu__icon"></i>
                                            <span class="side-menu__label">Forum</span>
                                            <i class="fe fe-chevron-right side-menu__angle"></i>
                                        </a>
                                        <ul class="slide-menu child1 mega-menu active"
                                            style="position: relative; left: 0px; top: 0px; margin: 0px; box-sizing: border-box; transform: translate(12px, 935px); display: none;"
                                            data-popper-placement="bottom" data-popper-escaped="">
                                            <li class="slide">
                                                <a href="{{ path('app_forum_index') }}"
                                                   class="side-menu__item {{ route == 'app_forum_index' ? 'active' : '' }}">Liste
                                                    des fils</a>
                                            </li>
                                            <li class="slide">
                                                <a href="{{ path('app_forum_add_thread') }}"
                                                   class="side-menu__item {{ route == 'app_forum_add_thread' ? 'active' : '' }}">Nouveau
                                                    fil</a>
                                            </li>
                                        </ul>
                                    </li>
                                    {% endif %}
                                        <li class="slide {{ route starts with 'profil_show' ? 'active open' : '' }} pb-1">
                                            <a href="{{ path('profil_show') }}" class="side-menu__item {{ route starts with 'profil_show' ? 'active' : '' }}">
                                                <i class="bx bx-user side-menu__icon"></i>
                                                <span class="side-menu__label">Profil</span>
                                            </a>
                                        </li>
                                </ul>
                                <div class="slide-right d-none" id="slide-right">
                                    <svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24"
                                         viewBox="0 0 24 24">
                                        <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path>
                                    </svg>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <div class="simplebar-placeholder" style="width: auto; height: 1571px;"></div>
        </div>
        <div class="simplebar-track simplebar-horizontal" style="visibility: hidden;">
            <div class="simplebar-scrollbar"
                 style="width: 0px; display: none; transform: translate3d(0px, 0px, 0px);"></div>
        </div>
        <div class="simplebar-track simplebar-vertical" style="visibility: visible;">
            <div class="simplebar-scrollbar"
                 style="height: 537px; transform: translate3d(0px, 0px, 0px); display: block;"></div>
        </div>
    </div>
</aside>